<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="track">
            <h2><span jhiTranslate="frontApp.track.detail.title">Track</span> {{track.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="frontApp.track.name">Name</span></dt>
                <dd>
                    <span>{{track.name}}</span>
                </dd>
                <dt><span jhiTranslate="frontApp.track.artists">Artists</span></dt>
                <dd>
                    <span>{{track.artists}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/track', track.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
