<div>
    <h2 id="page-heading">
        <span jhiTranslate="frontApp.track.home.title">Tracks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-track" [routerLink]="['/track/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="frontApp.track.home.createLabel">
            Create a new Track
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tracks?.length === 0">
        <span jhiTranslate="frontApp.track.home.notFound">No tracks found</span>
    </div>
    <div class="table-responsive" *ngIf="tracks?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="frontApp.track.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="artists"><span jhiTranslate="frontApp.track.artists">Artists</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="star"> <span>Star</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let track of tracks ;trackBy: trackId">
                <td><a [routerLink]="['/track', track.id, 'view' ]">{{track.id}}</a></td>
                <td>{{track.name}}</td>
                <td>{{track.artists}}</td>
                <td><ngb-rating [(rate)]="track.star" [readonly]=true></ngb-rating></td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/track', track.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/track', track.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/track', { outlets: { popup: track.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div [hidden]="tracks?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
