<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="album">
            <h2><span jhiTranslate="frontApp.album.detail.title">Album</span> {{album.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="frontApp.album.name">Name</span></dt>
                <dd>
                    <span>{{album.name}}</span>
                </dd>
                <dt><span jhiTranslate="frontApp.album.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{album.descripcion}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/album', album.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
